names = ['Alice', 'Bob', 'Charlie', 'Diana']

base_salary = [50000, 60000, 55000, 65000]

bonus_percent = [10, 12, 8, 15]

Create a dictionary where:

'Name': total_salary_after_bonus


ðŸ’¡ total salary = base salary + (base salary Ã— bonus%)

In [1]:
dict_zip ={k:(v1+(v2/100)*v1)   for k,v1,v2 in zip(['Alice', 'Bob', 'Charlie', 'Diana'], [50000, 60000, 55000, 65000],[10, 12, 8, 15])}
print(dict_zip)

{'Alice': 55000.0, 'Bob': 67200.0, 'Charlie': 59400.0, 'Diana': 74750.0}

Q2.

Given:

products = ['Laptop', 'Phone', 'Tablet']
prices = [800, 500, 300]
stocks = [10, 25, 15]


Create a dictionary where key = product and value = dictionary like:

{'price': price_value, 'stock': stock_value}

In [2]:
product_dict ={ k:{v,v1}   for k,v,v1 in zip(['Laptop', 'Phone', 'Tablet'],[800, 500, 300],[10, 25, 15])}
print(product_dict)

{'Laptop': {800, 10}, 'Phone': {25, 500}, 'Tablet': {300, 15}}

Q3.

Given:

cities = ['Paris', 'London', 'New York']

latitudes = [48.8566, 51.5074, 40.7128]

longitudes = [2.3522, -0.1276, -74.0060]


Create a dictionary where:

'Paris': (48.8566, 2.3522),
'London': (51.5074, -0.1276),
...

In [3]:
cities_dict = {k:(la,lo)  for k,la,lo in zip(['Paris', 'London', 'New York'],[800, 500, 300], [10, 25, 15])}
print(cities_dict)

{'Paris': (800, 10), 'London': (500, 25), 'New York': (300, 15)}

students = ['Raj', 'Anita', 'Karan']
math = [88, 92, 79]
science = [91, 85, 88]
english = [84, 90, 80]


Create a dictionary where key = student and value = dictionary of:

{'Math': score, 'Science': score, 'English': score, 'Average': avg_score}

In [7]:
dict_student ={k:{'math':v,'science':v1,'english':v2,'average':(v+v1+v2)/3} for k,v,v1,v2 in zip(['Raj', 'Anita', 'Karan'],[88, 92, 79],[91, 85, 88],[84, 90, 80])}

for ele,items in dict_student.items():
    print(ele,items)

Raj {'math': 88, 'science': 91, 'english': 84, 'average': 87.66666666666667}
Anita {'math': 92, 'science': 85, 'english': 90, 'average': 89.0}
Karan {'math': 79, 'science': 88, 'english': 80, 'average': 82.33333333333333}

Q4. Sports Player Statistics

players = ['Virat', 'Rohit', 'Bumrah']

matches = [250, 300, 150]

runs = [12000, 9800, 450]

wickets = [8, 0, 250]


Create a dictionary where key = player and value = tuple:

(total_matches, total_points)


ðŸ’¡ total_points = runs + (wickets Ã— 20)

In [8]:
sports_dict ={k:(v,(v1+v2*20)) for k,v,v1,v2 in zip(['Virat', 'Rohit', 'Bumrah'],[250, 300, 150],[12000, 9800, 450],[8, 0, 250]) }
print(sports_dict)

{'Virat': (250, 12160), 'Rohit': (300, 9800), 'Bumrah': (150, 5450)}

In [9]:
players = ['Virat', 'Rohit', 'Bumrah']
scores = [250, 300, 150]
base_earnings = [12000, 9800, 450]
matches = [8, 0, 250]
match_fee = 20

sports_dict = {
    player: (score, base + matches_played * match_fee)
    for player, score, base, matches_played in zip(players, scores, base_earnings, matches)
}

print(sports_dict)

{'Virat': (250, 12160), 'Rohit': (300, 9800), 'Bumrah': (150, 5450)}